<ng-container *ngFor="let passenger of passengers; let i = index">
  <mat-card-content class="w-full">
    <div class="passenger">
      <p>
        {{ passenger.firstName | uppercase }}
        {{ passenger.lastName | uppercase }}
      </p>
      <ul>
        <li *ngIf="passenger.baggageBig > 0">
          {{ passenger.baggageBig }} checked bag (total 23 kg) included
        </li>
        <li *ngIf="passenger.baggageSmall > 0">
          {{ passenger.baggageSmall }} cabin bag +
          {{ passenger.baggageSmall }} personal item (max. 8 kg) included
        </li>
        <li>Seat 20E</li>
      </ul>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
</ng-container>
