<h2 mat-dialog-title>Choose a sit</h2>
<mat-dialog-content>
  <div class="grid">
    <ng-container *ngFor="let row of places; let i = index">
      <ng-container *ngFor="let place of row; let j = index">
        <div
          class="cell"
          [class.cell-disabled]="!isPlaceAvailable(i, j)"
          [class.cell-selected]="selectedPlace === place"
          (click)="onCellClick(place)"
        ></div>
      </ng-container>
    </ng-container>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
  <button
    mat-button
    [disabled]="!selectedPlace"
    color="primary"
    (click)="onSelect()"
  >
    Choose
  </button>
</mat-dialog-actions>
