.airport-switch-wrapper {
  position: relative;
  width: 100%;
}

.airport-form {
  position: relative;

  width: 100%;
}

.airport-information {
  margin: 0;
}

.airport-additional-information {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.25px;

  color: #74767A;
}

.airport-form__destination {
  position: relative;
}

.location-switch {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 38px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border: 0.5px solid #74767A;
  border-radius: 100px;
  background-color: #fff;

  transition: border 0.3s;
  transition: transform 0.3s;

  & svg {
    fill: #74767A;

    transition: fill 0.3s;
  }

  &:hover {
    cursor: pointer;

    border: 0.5px solid #11397E;

    transition: border 0.3s;
    transition: transform 0.3s;

    & svg {
      fill: #11397E;

      transition: fill 0.3s;
    }
  }

  &:active {
    cursor: pointer;

    transform: scale(0.95);

    transition: transform 0.3s;
  }
}

.trigger-key {
  color: #74767A;
}
