.flight-page-container {
  margin-bottom: 20px;
}

.warning-message {
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.button {
  position: relative;
}

mat-error {
  position: absolute;

  width: 200px;
  top: 30px;
  right: 0;
}