<div *ngIf="forwardFlightInfo; else noFlight" class="flight-page-container">
  <app-booking-flight-details
    [isBackFlight]="false"
    [flightInfo]="forwardFlightInfo"
  ></app-booking-flight-details>
  <app-booking-flight-details
    [isBackFlight]="true"
    [flightInfo]="backFlightInfo"
  ></app-booking-flight-details>
  <div class="flex w-full justify-end button-container">
    <div class="flex gap-2">
      <button
        (click)="backToMainPage()"
        class="button"
        type="button"
        mat-button
        color="primary"
      >
        Back
      </button>
      <button
        class="button"
        mat-raised-button
        color="primary"
        [disabled]="!checkAllFlightsSelected()"
        (click)="logForm()"
      >
        Continue
      </button>
    </div>
  </div>
</div>

<ng-template #noFlight class="flex item-center">
  <span class="warning-message ticket-secondary f-w-700"
    >Choose your trip on the Main page!</span
  >
  <div class="flex w-full justify-center button-container">
    <div class="flex gap-2">
      <button
        (click)="backToMainPage()"
        class="button"
        type="button"
        mat-button
        color="primary"
      >
        Main page
      </button>
    </div>
  </div>
</ng-template>
