<mat-form-field *ngIf="FG" class="w-full">
  <mat-label>{{ nameType | titlecase }}</mat-label>
  <input [formControl]="FG" type="email" matInput placeholder="Pavel" />
  <mat-error *ngIf="FG.hasError('required')">Required field</mat-error>
  <mat-error *ngIf="FG.hasError('minlength')"
    >Min length should be more then 3 symbols
  </mat-error>
  <mat-error *ngIf="FG.hasError('maxlength')"
    >Max length should be less then 10 symbols
  </mat-error>
  <mat-error *ngIf="FG.hasError('validName')">Invalid character</mat-error>
</mat-form-field>
