:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;

  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.6)), url("../assets/images/main-background-6.jpg");
  background-size: cover, cover;
  background-position: center center;
}

.main {
  margin-top: 163px;

  @media (max-width: 1292px) {
    margin-top: calc(7.114vw + 125.09px);
  }

  @media (max-width: 560px) {
    margin-top: calc(7.778vw + 177.44px);
  }
}
