$primary-color: #11397e;
$button-bg: #f4f6f9;
$border: #cecece;
.dialog-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 500;
}

.button-toggle {
  width: 50%;
}

.mat-button-toggle-checked:after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: $primary-color;
  position: relative;
  bottom: 0;
  left: 0;
}

.mat-button-toggle-checked {
  color: $primary-color;
}

.with-google-button {
  height: 48px;
  background-color: $button-bg;
  border: 1px solid $border;
}

.with-google {
  display: flex;
  gap: 0.5rem;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.line-container {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.line {
  width: 100%;
  height: 2px;
  background-color: $border;
}

.line-text {
  min-width: fit-content;
  color: black;
}

.input-width {
  margin-bottom: 1rem;
}

.input-width .mat-button-toggle-group {
  height: 3.5rem;
}

.input-width .mat-button-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50% !important;
}


.input-width .mat-button-toggle-checked {
  font-weight: 500;
  color: $primary-color;

  &::after {
    display: none;
  }

  &::before {
    display: inline-block;
    width: 5px;
    height: 8px;
    margin: -4px -9% 1px 10%;
    border: solid $primary-color;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    content: '';

  }
}

.privacy-text {
  color: black;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.privacy-text span {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    cursor: pointer;
  }
}

.button {
  background-color: $primary-color !important;
  color: $border !important;
  height: 44px;
}
