<mat-card *ngIf="data && passengers" class="w-full">
  <mat-card-header appBgOrder class="column gap-half">
    <div class="flex gap-1 item-center">
      <mat-card-title>{{ data.flightNumber }}</mat-card-title>
      <mat-card-subtitle class="route-text"
        >{{ data.form.city }}-{{ data.to.city }}</mat-card-subtitle
      >
    </div>
    <div class="flex gap-1 item-center">
      <mat-card-subtitle class="route-date">{{
        data.takeoffDate | date : "fullDate"
      }}</mat-card-subtitle>
      <mat-card-subtitle class="route-date"
        >{{ data.takeoffDate | date : "h:mm" }} --
        {{ data.landingDate | date : "h:mm" }}</mat-card-subtitle
      >
    </div>
  </mat-card-header>

  <app-one-passenger-review
    [passengers]="passengers.adult"
  ></app-one-passenger-review>
  <app-one-passenger-review
    [passengers]="passengers.child"
  ></app-one-passenger-review>
  <app-one-passenger-review
    [passengers]="passengers.infant"
  ></app-one-passenger-review>
</mat-card>
