:host {
  min-width: 49%;
}

.route-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: black;
}

.route-date {
  font-size: 16px;
  color: black;
  font-weight: 400;
}


@media screen and (max-width: 992px) {
  :host {
    width: 100%;
  }

}
