.editor-wrapper {
  position: absolute;
  z-index: 50;


  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 70vw;
  max-width: 980px;
  margin: 0 15vw;
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px;

  border-radius: 4px;
  background-color: #fff;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);

  @media (min-width: 1360px) {
    align-self: center;
    margin: 0 calc(50.000vw - 490.00px);
  }

  @media (max-width: 1300px) {
    width: 50vw;
    margin: 0 25vw;

    & .airports-form {
      width: 100%;
    }

    & .date-form,
    & .passengers-form {
      width: 50%;
    }
  }

  @media (max-width: 900px) {
    width: 90vw;
    margin: 0 5vw;

    & .airports-form {
      width: 100%;
      flex-direction: column;
    }

    & .date-form,
    & .passengers-form {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    margin: 0 calc(8.333vw - 20.00px);
  }
}

.airports-form,
.date-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  row-gap: 4px;
  column-gap: 10px;
}

.airports-form {
  width: 49%;
}

.date-form {
  width: 25%;
}

.passengers-form {
  width: 23%;
}