.date {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.time-container {

  .flight-time {
    font-family: 'Roboto';
    font-size: 30px;
    line-height: 36px;
  }
  
  .flight-time-utc {
    font-family: 'Roboto';
    font-size: 8px;
    line-height: 20px;
  }
}

.city {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
