<form class="main-form">
  <div class="radio-buttons">
    <label>
      <input type="radio" name="tripType" value="roundTrip" required checked />
      Round Trip
    </label>
    <label>
      <input type="radio" name="tripType" value="oneWay" required />
      One Way
    </label>
  </div>

  <mat-form-field appearance="fill" class="main-component-location-form">
    <mat-label>From</mat-label>
    <mat-select [(value)]="selectedAirport">
      <mat-option *ngFor="let airport of airports" [value]="airport.key">
        <p class="airport-information">
          {{ airport.city }} <span class="parenthes">(</span
          ><span class="airport-key"> {{ airport.key }} </span
          ><span class="parenthes">)</span>
        </p>
        <p class="airport-additional-information">
          {{ airport.name }}, {{ airport.country }}
        </p>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>{{ selectedAirport }}</p>

  <mat-form-field appearance="fill">
    <mat-label>Destination</mat-label>
    <mat-select>
      <mat-option *ngFor="let airport of airports" [value]="airport.name">
        {{ airport.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <label>Travel Date</label>
    <input type="date" name="travelDate" required />
  </div>

  <div>
    <label>Adults</label>
    <input type="number" name="adults" required />
  </div>

  <div>
    <label>Children</label>
    <input type="number" name="children" required />
  </div>

  <div>
    <label>Infants</label>
    <input type="number" name="infants" required />
  </div>

  <button type="submit">Submit</button>
</form>
