.booking-header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  padding: 20px 0 20px 5vw;
  row-gap: 10px;
  column-gap: 20px;

  border-top: 1px solid #e0e0e07a;
  color: #ffffff;

  @media (max-width: 560px) {
    flex-direction: column;
  }
}

.destinations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 215px;
  height: 24px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.15px;

  list-style: none;

  @media (max-width: 270px) {
    width: 90%;
    font-size: calc(5.714vw + 0.57px);
  }

}

.destinations__image {
  height: 16px;

  & svg {
    fill: #ffffff;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 202px;
  height: 20px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;

  color: #ffffffb2;

  list-style: none;

  @media (max-width: 270px) {
    width: 90%;
    font-size: calc(2.857vw + 6.29px);
  }
}

.edit-button {
  position: relative;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.1px;

  color: #ffffff;
  background: none;
  border: none;
  border-bottom: 1px solid #0090BD;

  transition: all 0.3s ease;

  @media (max-width: 270px) {
    // width: 90%;
    font-size: calc(5.714vw + 0.57px);
  }

  &:hover {
    cursor: pointer;
    color: #0090BD;
    border-bottom: 1px solid #ffffff;

    transition: all 0.3s ease;
  }

  &:active {
    color: #0090BD;
    transform: scale(0.90);

    transition: all 0.3s ease;
  }
}

.info__passengers svg {
  fill: #ffffffb2;
}

.info__dot {
  width: 4px;
  height: 4px;

  background: #0090BD;
  border-radius: 2px;
}