/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import "app/core/styles/variables";
@import "app/core/styles/helpSimpleClasses";
@import "app/core/styles/material";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 80%;
}


@media screen and (max-width: 992px) {
  .passengers-content-position {
    flex-direction: column;
    gap: 0.25rem;
  }
  .all-passengers-input-width {
    width: 100%;
  }
}


