
.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.m-auto {
  margin: auto;
}


.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.item-center {
  align-items: center;
}

.item-start {
  align-items: start;
}

.item-end {
  align-items: end;
}

.item-stretch {
  align-items: stretch;
}

.flex-order-1 {
  order: 1;
}

.self-end {
  align-self: end;
}

.self-center {
  align-self: center;
}

.gap-half {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.f-w-100 {
  font-weight: 100;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-500 {
  font-weight: 500;
}

.f-w-700 {
  font-weight: 700;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.lh-20 {
  line-height: 20px;
}

.lh-24 {
  line-height: 24px;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-black {
  color: black;
}

.text-white {
  color: $bg-white-color;
}

.price-secondary {
  color: $secondary-price-color;
}

.bg-primary {
  background-color: $primary-color
}

.bg-light {
  background-color: $bg-light-color
}

.bg-white {
  background-color: $bg-white-color
}

.bg-gradient-primary {
  background: linear-gradient(108.75deg, #0090BD 59.91%, #073590 95.36%);
  border: 1px solid $primary-color;
}

.ticket-secondary {
  color: $secondary-ticket-color;
}

.seats-secondary {
  color: $secondary-seats-color;
}

.alternative-flight-color-secondary {
  color: $secondary-alternative-flight-color;
}

.seats-green-bg {
  background-color: $bg-seats-green;
}

.seats-yellow-bg {
  background-color: $bg-seats-yellow;
}

.seats-red-bg {
  background-color: $bg-seats-red;
}

.seats-green-bg-transparent {
  background-color: $bg-seats-green-transparent;
}

.seats-yellow-bg-transparent {
  background-color: $bg-seats-yellow-transparent;
}

.seats-red-bg-transparent {
  background-color: $bg-seats-red-transparent;
}

.line-solid {
  border: 2px solid $border-grey-color;
}

.line-dashed {
  border: 2px dashed $border-grey-color;
  
.text-center {
  text-align: center;
}
