$primary-color: #11397e;
$secondary-price-color: #7F8906;
$secondary-color: #10264C;
$secondary-ticket-color: #74767A;
$secondary-seats-color: #454A53;
$secondary-alternative-flight-color: #0090BD;
$bg-light-color: #f5f5f5;
$bg-white-color: #ffffff;
$bg-seats-green-transparent: rgba(57, 151, 20, 0.3);
$bg-seats-yellow-transparent: rgba(241, 201, 51, 0.3);
$bg-seats-red-transparent: rgba(179, 38, 30, 0.3);
$bg-seats-green: rgb(57, 151, 20);
$bg-seats-yellow: rgba(241, 201, 51);
$bg-seats-red: rgba(179, 38, 30);
$border-grey-color: #D0D9DF;
