<mat-form-field class="w-full" *ngIf="FG">
  <mat-label>Password</mat-label>
  <input
    [formControl]="FG"
    [type]="hidePassword ? 'password' : 'text'"
    matInput
    placeholder="Enter your password"
  />
  <mat-error *ngIf="FG.hasError('required')">Required field</mat-error>
  <mat-error *ngIf="FG.hasError('passwordError') && !FG.hasError('required')"
    >{{ FG.getError("passwordError") }}
  </mat-error>
  <button
    mat-icon-button
    matSuffix
    (click)="hidePassword = !hidePassword"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hidePassword"
  >
    <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</mat-form-field>
