<div
  class="flex gap-half w-full item-center"
  [class.center]="sortName === 'No.'"
>
  <p class="fz-20 lh-20">
    <strong>{{ sortName }}</strong>
  </p>
  <svg width="10" height="20" xmlns="http://www.w3.org/2000/svg">
    <g>
      <title>background</title>
      <rect
        fill="none"
        id="canvas_background"
        height="22"
        width="12"
        y="-1"
        x="-1"
      />
    </g>
    <g>
      <title>Layer 1</title>
      <path
        transform="rotate(-179.74609375 5.00738525390625,3.9234316349029537) "
        id="svg_1"
        fill="#454A53"
        d="m1.67405,2.256757l3.33333,3.33335l3.33334,-3.33335l-6.66667,0z"
      />
      <path
        id="svg_2"
        fill="#454A53"
        d="m1.666665,14.504487l3.33333,3.33335l3.33334,-3.33335l-6.66667,0z"
      />
    </g>
  </svg>
</div>
