<mat-card>
  <mat-card-header>
    <mat-card-title>Cart</mat-card-title>
  </mat-card-header>
  <mat-card-actions *ngIf="!smallPage" class="bg-light action-container">
    <app-sort-button
      (click)="sortOrders('No')"
      sortName="No."
    ></app-sort-button>
    <app-sort-button
      (click)="sortOrders('Flight')"
      sortName="Flight"
    ></app-sort-button>
    <app-sort-button
      (click)="sortOrders('TripType')"
      sortName="Type trip"
    ></app-sort-button>
    <app-sort-button
      (click)="sortOrders('Date')"
      sortName="Data & Time"
    ></app-sort-button>
    <app-sort-button
      (click)="sortOrders('Passengers')"
      sortName="Passengers"
    ></app-sort-button>
    <app-sort-button
      (click)="sortOrders('Price')"
      sortName="Price"
    ></app-sort-button>
  </mat-card-actions>
  <mat-card-content>
    <app-order
      *ngFor="
        let order of orders | sortOrders : (sortType$ | async) : sortHelper
      "
      [order]="order"
      [smallPage]="smallPage"
    ></app-order>

    <div class="new-trip flex item-center justify-between">
      <button
        (click)="addNewTrip()"
        color="primary"
        class="bg-light"
        mat-button
      >
        + Add new trip
      </button>
      <div
        *ngIf="currency$ | async as currency"
        class="flex gap-half item-center"
      >
        <mat-card-subtitle class="text-black fz-20 f-w-700"
          >Total
        </mat-card-subtitle>
        <mat-card-title>{{
          totalPrice$ | async | currencyConverter : currency
        }}</mat-card-title>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="cart-footer flex justify-between item-center">
      <div class="flex justify-between item-center promo-container">
        <input
          class="promo-input"
          [(ngModel)]="promoCode"
          placeholder="Promo Code"
        />
        <button
          (click)="activatePromoCode()"
          class="promo-button"
          color="primary"
          mat-button
        >
          APPLY
        </button>
      </div>
      <div class="flex gap-2 item-center">
        <span class="selected-count">{{ ordersChecked }} selected</span>
        <button class="pay-button" color="primary" mat-raised-button>
          Payment
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
