:host {
  width: 100%;
  height: 100%;

  .error-container {
    width: 100%;
    height: 100%;
    position: relative;

    .error-image-container {
      width: 20%;
      min-width: 130px;
      height: 300%;
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
  
      .error-image {
        height: 100%;
        max-width: 160px;
        position: absolute;
        bottom: 0;
        animation-duration: 2s;
        animation-name: appearance;
      }
    }
  }
}

@keyframes appearance {
  0% {
    bottom: -100%;
  }
  76% {
    bottom: 0%;
  }
  78% {
    bottom: -5%;
  }
  80% {
    bottom: 0%;
  }
  82% {
    bottom: -5%;
  }
  84% {
    bottom: 0%;
  }
  86% {
    bottom: -5%;
  }
  88% {
    bottom: 0%;
  }
  90% {
    bottom: -5%;
  }
  92% {
    bottom: 0%;
  }
  94% {
    bottom: -5%;
  }
  96% {
    bottom: 0%;
  }
  98% {
    bottom: -5%;
  }
  100% {
    bottom: 0%;
  } 
}